@use './variables' as v;

body {
    background: v.$color-primary; /* fallback for old browsers */
    background: linear-gradient(to right, v.$color-secondary, v.$color-primary);
}

h1, h2, p, button, ul, fieldset {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button,
fieldset, 
input {
    border: none;
}

a {
    display: block;
    text-decoration: none;
}

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin: 2% auto;
}

.block-span {
    display: block;
    transition: all .3s;
}

.btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 15px;
    background-color: rgba(v.$color-secondary, 0.5);
    border-radius: 15px;

    &:hover, 
    &:focus {
        background-color: v.$color-primary;
    }
}

.small {
    font-size: 1.5rem;
}