@use './variables' as v;

body {
    // background: v.$color-primary; /* fallback for old browsers */
    // background: linear-gradient(to right, v.$color-secondary, v.$color-primary);
    // Background photo credit to: Azim Islam at Pexels: https://www.pexels.com/@azim-islam-460924/
    background: url('../assets/pexels-azim-islam-1210276.jpg');
    background-position: center;
    background-size: cover;
}

h1, h2, h3, p, button, ul, fieldset {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button,
fieldset, 
input {
    border: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin: 2% auto;
}

.block-span {
    display: block;
    transition: all .3s;
}

.btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 15px;
    background-color: rgba(v.$color-primary, 0.5);
    border-radius: 15px;
    text-align: center;

    &:hover, 
    &:focus {
        background-color: v.$color-secondary;
    }
}

.small {
    font-size: 1.5rem;
}