@use './variables' as v;

.navigation {
    @include v.flex-center(row);

        &-site-item {
            @include v.glassmorphism(v.$color-black); 
            @include v.flex-center(column);
            transition: all ease-in-out .3s;
            cursor: pointer;
            width: 100%;
            padding: 5%;

            &:hover,
            &:focus {
                background: rgba(v.$color-primary, 1);
            }
        
        }
        .offsite-link {
            transition: all .3s;
        }
    }