@use './variables' as v;

.navigation {
    @include v.flex-center(column);

        &-site-item {
            @include v.glassmorphism(v.$color-white);
            @include v.flex-center(column);
            transition: all ease-in-out .3s;
            cursor: pointer;
            width: 100%;
            padding: 5%;
            background-color: transparent;

            &:hover,
            &:focus {
                background-color: v.$color-primary;
            }
        
        }
        .offsite-link {
            transition: all .3s;
        }
    }