nav {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 20%;

    .nav-site {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 100%;

        li {
            width: 100%;
        }

        .tabs-toggle {
            width: 100%;
        }
    }

    .nav-socials {
        display: flex;
    }
}

//TODO: Consider merging this with the tabs partial. There are also a lot of width: 100% around, and a lot of flex related stuff that could probably be a mixin? or maybe a utility class? May also want to rename the classes for tabs, tabs-head, nav-site (might not even need nav-site tbh) so that things can be nested better, especially if merging with tabs partial. 

//TODO: Other things to think about are if we want to do all buttons in one partial? Or based on section? How are button global styles being handled? 