@use './variables' as v;

// Credit to Stephen Nelson's Fantabulous Tabs Simple Javascript animated tabs codepen for the tab animations. Link: https://codepen.io/nelsonswork/pen/XbRoQo

//TODO: Consider merging this with the tabs partial. There are also a lot of width: 100% around, and a lot of flex related stuff that could probably be a mixin? or maybe a utility class? May also want to rename the classes for tabs, tabs-head, nav-site (might not even need nav-site tbh) so that things can be nested better, especially if merging with tabs partial. 

//TODO: Other things to think about are if we want to do all buttons in one partial? Or based on section? How are button global styles being handled? 

.tabs {
    display: flex;
    

    &-head {
        flex-basis: 20%; 
        border-radius: 16px 0 0 16px;
        
        
        &-buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 90vh;
            justify-content: stretch;
            
            > * {
                flex: 1;
            }

            li {
                display: flex;
                align-items: stretch;
            }

            .tabs-toggle:hover, 
            .tabs-toggle:focus {
                        background-color: v.$color-primary;
                        transform: translateX(5%);
                    }
            }
        }

    &-body {
        overflow: hidden;
        position: relative;
        flex-basis: 80%;

        &-content {
            @include v.flex-center(column);
            @include v.glassmorphism(v.$color-black);
            padding: 0 10%;
            border-radius: 0 16px 16px 0;
            border-left: none;
            height: 90vh;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            transform: translateX(-250%);
            transition: all ease-in-out 0.8s;
            z-index: -1;
    
            &.is-active {
                transform: translateX(0);
                z-index: 10;
            }

            p {
                margin: 5% 0; 
            }
        }
    }
}
