@use './variables' as v;

// Font colour
* {
    color: v.$color-white;
}

// Font styles
html {
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
    font-family: v.$font-heading;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    font-family: v.$font-heading;
    text-transform: uppercase;
    padding: 5%;
}

p, 
a, 
button, 
label, 
input {
    font-size: 2rem;
    font-family: v.$font-text;
}

ion-icon {
    font-size: 5rem;
}