@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// Effect from https://css.glass, with some edits
@mixin glassmorphism($color) {
    background: rgba($color, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: $border-light;
}

$transition-timing: all .3s;

$color-primary: #85c7ee; 
$color-secondary: #CAAC97;
$color-black: #1f2126;
$color-white: #f5efed;

$font-name: 'Dosis', sans-serif;
$font-heading: 'Dosis', sans-serif;
$font-text: 'Source Sans Pro', Sans-Serif;

$border-light: 1px solid rgba(255, 255, 255, 0.3);
