@use '../abstracts/variables' as v;
@use '../abstracts/svg-background' as svg;


body {
    background: v.$color-black; // fallback
    @include svg.svg-background;
}

svg {
    fill: v.$color-white;
}



h1, h2, h3, p, button, ul, li, fieldset, input, label, textarea {
    margin: 0;
    padding: 0;
    transition: v.$transition-timing;
}

li {
    list-style: none;
}

button,
fieldset, 
input {
    border: none;
}

a {
    color: v.$color-primary;
    text-decoration: none;
    transition: v.$transition-timing;

    &:hover, 
    &:focus {
        color: v.$color-secondary;
    }
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    transition: v.$transition-timing;
}

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin: 0% auto;
}

.block-span {
    display: block;
    transition: v.$transition-timing;
}

.desktop-hidden {
    display: none;

    ion-icon:hover, 
    ion-icon:focus {
        color: v.$color-primary;
    }
} 

.btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 15px;
    background-color: v.$color-primary;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    color: v.$color-black;

    &:hover, 
    &:focus {
        color: v.$color-black;
        background-color: v.$color-secondary;
    }
}