@use '../abstracts/variables' as v;

body {
    background: v.$color-black; // fallback for older browsers
    // Background photo credit to: Francesco Ungaro at Pexels: https://www.pexels.com/@francesco-ungaro/
    background: url('../assets/pexels-francesco-ungaro-3874719.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, p, button, ul, li, fieldset, input, label, textarea {
    margin: 0;
    padding: 0;
    transition: v.$transition-timing;
}

li {
    list-style: none;
}

button,
fieldset, 
input {
    border: none;
}

a {
    color: v.$color-primary;
    text-decoration: none;
    transition: v.$transition-timing;

    &:hover, 
    &:focus {
        color: v.$color-secondary;
    }
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: v.$transition-timing;
}

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin: 0% auto;
}

.block-span {
    display: block;
    transition: v.$transition-timing;
}

.desktop-hidden {
    display: none;

    ion-icon:hover, 
    ion-icon:focus {
        color: v.$color-primary;
    }
} 

.btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 15px;
    background-color: rgba(v.$color-primary, 0.6);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;

    &:hover, 
    &:focus {
        background-color: rgba(v.$color-secondary, 0.5);
    }
}