@use '../abstracts/variables' as v;

.navigation {
    @include v.flex-center(row);

        &-site-item {
            @include v.glassmorphism(v.$color-black); 
            @include v.flex-center(column);
            cursor: pointer;
            width: 100%;
            padding: 5%;
            transition: all ease-in-out .3s;

            &:hover,
            &:focus {
                background: v.$color-primary;
                color: v.$color-black;

                ion-icon,
                ion-icon, 
                .small {
                    color: v.$color-black;
            }
            }

            &:active {
                background-color: v.$color-secondary;
            }
        }

        .offsite-link {
            transition: all .3s;
        }
    }