@use '../abstracts/variables' as v;

// Many thanks to Stephen Nelson's Fantabulous Tabs Simple Javascript animated tabs codepen for the tab architecture. Link: https://codepen.io/nelsonswork/pen/XbRoQo
.tabs {
    display: flex;
    
    &-head {
        flex-basis: 20%; 
        z-index: 10;
        
        &-buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 90vh;
            justify-content: stretch;
            
            > * {
                flex: 1;
            }

            li {
                display: flex;
                align-items: stretch;
            }

            .tabs-toggle:hover, 
            .tabs-toggle:focus {
                        transform: translateX(5%);
                    }
        }
    }

    &-body {
        position: relative;
        width: 80%;
        height: 90vh;
        z-index: 0;

        &-content {
            @include v.flex-center(column);
            @include v.glassmorphism(v.$color-black);
            justify-content: space-evenly;
            
            border-radius: 0 16px 16px 0;
            height: 90vh;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            transform: translateX(-250%);
            transition: all ease-in-out 0.8s;
    
            &.is-active {
                transform: translateX(0);
            }
        }
    } 
}

.scroll {
    width: 100%;
    height: 85vh;
    overflow: scroll;
    padding: 0 10%;
}