@media (max-width: 580px) {
    // Global
    h2 {
        font-size: 4rem;
    }

    p,
    label,
    input,
    textarea {
        font-size: 2.2rem;
    }

    h3, 
    .light {
        width: 100%;
        text-align: center;
    }

    .wrapper {
        width: 95%;
    }
    // Tabs
    .tabs-body-content,
    .projects.tabs-body-content {
        padding: 0 2% 2%;
    }
    // About
    .about {

        &.tabs-body-content {
            justify-content: center;
        }
        
        
        &-text .svg-img.right {
            display: none;
        }
        h2 {
            margin-top: 2%;
            width: 100%;
        }
    }
    // Skills
    .skills-list li,
    .skills-list li:nth-child(n+9) {
        flex-basis: 50%;
    }
    // Projects
    .projects-list-item{
        flex-direction: column;

        .project-display {
            width: 30%;
        }

        .project-details {
            width: 100%;
        }
        
        .project-links .btn {
            width: 50%;
        }
    } 
}