@media (max-width: 630px) {
    // Global
    h2 {
        font-size: 4rem;
    }

    p,
    label,
    input,
    textarea {
        font-size: 2.2rem;
    }

    .wrapper {
        width: 95%;
    }
    // Tabs
    .tabs-body-content {
        padding: 2% 2%;
        // min-height: 100vh;
    }

    // About
    .about {
        text-align: center;
        h2 {
            
            width: 100%;
        }
        
        &-text .svg-img.right,
        &-text .svg-img.left {
            display: none;
        }
    }
    // Skills
    .skills-list li,
    .skills-list li:nth-child(n+9) {
        flex-basis: 50%;
    }

    // Projects
    .projects-list-item {
        // min-height: 85vh;
    }

    .carousel-button {
        transform: translateY(100%);
    }
} 