@media (max-width: 768px) {
    // Global
    .btn {
        width: 100%;
    }
    
    ion-icon {
        font-size: 5rem;
    }
    // Navigation
    .navigation .offsite-link {
        display: none;
    }
    // Projects
    .projects-list-item .project-links .btn {
        width: 30%;
    }


}