@media (max-width: 630px) {
    // Global
    h2 {
        font-size: 4rem;
    }

    p,
    label,
    input,
    textarea {
        font-size: 2.2rem;
    }

    .wrapper {
        width: 95%;
    }
    // Tabs
    .tabs-body-content {
        padding: 2% 2%;
    }

    // About
    .about {
        text-align: center;
        h2 {
            
            width: 100%;
        }
        
        &-text .svg-img.right,
        &-text .svg-img.left {
            display: none;
        }
    }
    // Skills
    .skills-list li,
    .skills-list li:nth-child(n+9) {
        flex-basis: 50%;
    }
    // Projects
    .carousel-button ion-icon {
            font-size: 5rem;
        }
    
    .projects-list-item .project-details {
        width: 95%;
    }

    .projects-list-item .project-links {
        flex-direction: column;

        .btn {
            width: 100%;
            margin: 10px 0;

            &:first-child {
                margin-right: 0;
            }
        }
    }

} 