@media (max-width: 768px) {
    // Global
    h3, 
    .light {
        width: 100%;
        text-align: center;
    }

    .btn {
        width: 100%;
    }
    
    ion-icon {
        font-size: 5rem;
    }
    .desktop-hidden {
        display: block;
    }
    // Navigation
    .navigation .offsite-link {
        display: none;
    }
    // Projects

    .projects-list .project-display {
        width: 90%;
    }
}