@use '../variables' as v;

.about-text {
    display: flex;
    flex-direction: column;

    p {
        margin: 3% 0;
    }
    
    .svg-img {
        width: 40%;
        
        &.left {
            float: left;
            margin-right: 40px;
        }
    
        &.right {
            float: right;
            margin-left: 40px;
        }
    }
    
}