@use '../abstracts/variables' as v;

.projects.tabs-body-content {
    padding: 0 5%;

    h2 {
        padding: 3% 0 1% 0;
    }
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;

    &-item {
        @include v.flex-center(row);
        justify-content: flex-start;

        &:not(:last-child) {
            margin-bottom: 1%;
        }

        .project-display {
            width: 30%;
            margin-right: 20px;
        }
        .project-details {
            @include v.flex-center(column);
            flex-wrap: wrap;
            width: 65%;

            p {
                font-size: 2rem;

                &:not(.light) {
                    margin-bottom: 1%;
                }
            }
        }

        .project-links {
            display: flex;
            width: 100%;
            
            .btn{
                width: 20%;
                margin: 3% 0;
                color: v.$color-white;

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
} 