@use '../abstracts/variables' as v;

.projects.tabs-body-content {

    h2 {
        padding: 2% 0;
    }
}

.carousel {
    width: 100%; 
    height: 100%;
    position: relative;

    &-button {
        position: absolute;
        background: none;
        font-size: 4rem;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 0 .5rem;

        &.prev {
            left: 1rem;
        }

        &.next {
            right: 1rem;
        }
    }
}

.projects-list {
    width: 100%;

    &-item {
        @include v.flex-center(column);
        position: absolute;
        inset: 0;
        text-align: center;
        opacity: 0;

        &[data-active] {
            opacity: 1;
        }

        .project-display {
            width: 65%;
        }
        .project-details {
            @include v.flex-center(column);
            flex-wrap: wrap;
            width: 75%;

            p {
                font-size: 2rem;
            }
        } 

        .project-links {
            @include v.flex-center(row);
            width: 100%;
            
            .btn{
                width: 20%;
                margin: 3% 0;
                color: v.$color-white;

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
} 