.skills-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    li {
        flex-basis: 20%;
        padding: 5% 0;
        transition: 0.8s;

        &:hover > *,
        &:hover span {
            color: black;
        }
    }
}