@use './variables' as v;
// Font colour
* {
    color: v.$color-white;
}

input,
textarea {
    color: v.$color-black;
}
// Font styles
html {
    font-size: 62.5%;
}

h1 {
    font-family: v.$font-name;
}


h2, 
h3,
p.light {
    font-family: v.$font-heading;
} 

h1,
h2,
button,
legend,
label {
    text-transform: uppercase;
}

h1, 
h2 {
    text-align: center;
}

h1 {
    font-size: 7rem;
}

h2,
legend {
    font-size: 5rem;
    padding: 3%;
}

h3, 
p.light {
    font-size: 3rem;
    align-self: flex-start; 
}

p.light {
    font-weight: 200;
}

p, 
a, 
button, 
label, 
input,
textarea {
    font-family: v.$font-text;
    font-size: 2.5rem;
}

.small {
    font-size: 1.5rem;
    text-align: center;
}

ion-icon {
    font-size: 6rem;
    margin: 5% auto;
    transition: v.$transition-timing;
}