@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// Effect from https://css.glass, with some edits
@mixin glassmorphism($color) {
    background: rgba($color, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: $border-light;
}

$transition-timing: all .3s;

$color-primary: #85c7ee; 
$color-secondary: #572780;
$color-black: #1f2126;
$color-white: #f5efed;

$color-red: #E91E63;
$color-red-dark: #C21858;
$color-purple: #9C2780;
$color-purple-dark: #572780;
$color-blue: #57ACDC;
$color-blue-medium: #276880;
$color-blue-dark: #272AB0;
$color-green: #60C689;
$color-turquoise: #57DCBE; 

$font-name: 'Dosis', sans-serif;
$font-heading: 'Dosis', sans-serif;
$font-text: 'Source Sans Pro', Sans-Serif;

$border-light: 1px solid rgba(255, 255, 255, 0.3);