html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Effect from https://css.glass */
body {
  background: #B87F86;
  background: url("../assets/pexels-azim-islam-1210276-1.jpg");
  background-repeat: no-repeat;
}

h1, h2, h3, p, button, ul, fieldset {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
fieldset,
input {
  border: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 2% auto;
}

.block-span {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
  padding: 15px;
  background-color: rgba(142, 134, 163, 0.5);
  border-radius: 15px;
  text-align: center;
}
.btn:hover, .btn:focus {
  background-color: #B87F86;
}

* {
  color: #f5efed;
}

input,
textarea {
  color: #1f2126;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: "Dosis", sans-serif;
}

h2,
h3,
p.light {
  font-family: "Dosis", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h1,
h2,
button,
legend,
label {
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 7rem;
}

h2,
legend {
  font-size: 5rem;
  padding: 3%;
}

h3,
p.light {
  font-size: 3rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

p.light {
  font-weight: 200;
}

p,
a,
button,
label,
input,
textarea {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.small {
  font-size: 1.5rem;
  text-align: center;
}

ion-icon {
  font-size: 6rem;
  margin: 5% auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-site-item {
  background: rgba(31, 33, 38, 0.3);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  width: 100%;
  padding: 5%;
}
.navigation-site-item:hover, .navigation-site-item:focus {
  background: #8e86a3;
}
.navigation .offsite-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs-head {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border-radius: 16px 0 0 16px;
  z-index: 10;
}
.tabs-head-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.tabs-head-buttons > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tabs-head-buttons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.tabs-head-buttons .tabs-toggle:hover,
.tabs-head-buttons .tabs-toggle:focus {
  background-color: #8E86A3;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}
.tabs-head-buttons .tabs-toggle:active {
  background-color: #B87F86;
}
.tabs-body {
  position: relative;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  z-index: 0;
}
.tabs-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(31, 33, 38, 0.3);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 10%;
  border-radius: 0 16px 16px 0;
  border-left: none;
  height: 90vh;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  -webkit-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s;
}
.tabs-body-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-text p {
  margin: 3% 0;
}
.about-text .svg-img {
  width: 40%;
}
.about-text .svg-img.left {
  float: left;
  margin-right: 40px;
}
.about-text .svg-img.right {
  float: right;
  margin-left: 40px;
}

.skills-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.skills-list li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 5% 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.skills-list li:hover > *, .skills-list li:hover span {
  color: black;
}

.projects.tabs-body-content {
  padding: 0 5%;
}
.projects.tabs-body-content h2 {
  padding: 3% 0 1% 0;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
}
.projects-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.projects-list-item:not(:last-child) {
  margin-bottom: 1%;
}
.projects-list-item .project-display {
  width: 20%;
  margin-right: 20px;
}
.projects-list-item .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
}
.projects-list-item .project-details p {
  font-size: 2rem;
}
.projects-list-item .project-details p:not(.light) {
  margin-bottom: 1%;
}
.projects-list-item .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.projects-list-item .project-links .btn {
  width: 20%;
  margin: 3% 0;
}
.projects-list-item .project-links .btn:first-child {
  margin-right: 10px;
}

.contact h2 {
  padding-bottom: 1%;
}

.contact p {
  margin: 0;
}
.contact p a {
  color: #8E86A3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact p a:hover, .contact p a:focus {
  color: #B87F86;
}

.form {
  width: 100%;
}
.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-flex legend {
  padding: 2% 0;
}
.form-flex label {
  margin: 2% 0;
}
.form-flex input,
.form-flex textarea {
  padding: 10px;
}
.form-flex textarea {
  min-height: 20rem;
}
.form-flex .btn {
  margin-top: 2%;
}

@media (max-width: 1110px) {
  .wrapper {
    margin: 0 auto;
  }
  .tabs-head {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
  .tabs-head-buttons {
    min-height: 100vh;
  }
  .tabs-body {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
  .tabs-body-content {
    min-height: 100vh;
  }
  .skills-list li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding: 2%;
  }
  .skills-list li:nth-child(n+9) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .projects-list-item .project-links .btn {
    padding: 10px;
    width: 30%;
  }
}
@media (max-width: 860px) {
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs-head-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 10vh;
    height: auto;
    top: 0;
    left: 0;
  }
  .tabs-head-buttons li {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .tabs-head-buttons .tabs-toggle {
    font-size: 2rem;
  }
  .tabs-head-buttons .tabs-toggle:hover, .tabs-head-buttons .tabs-toggle:focus {
    -webkit-transform: translateX(0) translateY(5%);
            transform: translateX(0) translateY(5%);
  }
  .tabs-body-content {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 0 16px 16px;
    -webkit-transform: translateX(0) translateY(-250%);
            transform: translateX(0) translateY(-250%);
    padding: 0 5% 2% 5%;
    height: auto;
    min-height: 80vh;
  }
  .tabs-body-content.is-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .skills-list li,
.skills-list li:nth-child(n+9) {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 1%;
  }
  .skills-list li:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
  }
  .projects-list {
    margin-bottom: 2%;
  }
}
@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
  ion-icon {
    font-size: 5rem;
  }
  .navigation .offsite-link {
    display: none;
  }
  .projects-list-item .project-links .btn {
    width: 30%;
  }
}
@media (max-width: 580px) {
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 2.2rem;
  }
  h3,
.light {
    width: 100%;
    text-align: center;
  }
  .about.tabs-body-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-text .svg-img.right {
    display: none;
  }
  .about h2 {
    margin-top: 2%;
    width: 100%;
  }
  .skills-list li,
.skills-list li:nth-child(n+9) {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .projects-list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-list-item .project-display {
    width: 30%;
  }
  .projects-list-item .project-details {
    width: 100%;
  }
  .projects-list-item .project-links .btn {
    width: 50%;
  }
}
@media (max-width: 463px) {
  h2 {
    font-size: 3.5rem;
  }
  .tabs .tabs-toggle {
    font-size: 1.8rem;
  }
}